<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>添加</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="asserts/css/dashboard.css" th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">
</head>
<body>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <!--需要区分是员工修改还是添加；-->
    <form th:action="@{/emp}" method="post">
        <!--发送put请求修改员工数据-----增加一个判断条件-----${emp!=null}?-->
        <!--
        1、SpringMVC中配置HiddenHttpMethodFilter;（SpringBoot自动配置好的）
        2、页面创建一个post表单
        3、创建一个input项，name="_method";值就是我们指定的请求方式
        -->
        <input type="hidden" name="_method" value="put" th:if="${emp!=null}">
        <input type="hidden" name="id" th:if="${emp!=null}" th:value="${emp.id}">
        <div class="form-group">
            <label>name</label>
            <input name="name" type="text" class="form-control" placeholder="zhangsan" th:value="${emp!=null}?${emp.name}">
        </div>
        <div class="form-group">
            <label>age</label>
            <input name="age" type="number" class="form-control" placeholder="18" th:value="${emp!=null}?${emp.age}">
        </div>
        <div class="form-group">
            <label>sex</label><br/>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sex" value="1" th:checked="${emp!=null}?${emp.sex==1}">
                <label class="form-check-label">男</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sex" value="0" th:checked="${emp!=null}?${emp.sex==0}">
                <label class="form-check-label">女</label>
            </div>
        </div>
        <div class="form-group">
            <label>Birth</label>
            <input name="birth" type="text" class="form-control" placeholder="1997/11/06" th:value="${emp!=null}?${#dates.format(emp.birth,'yyyy/MM/dd')}">
        </div>
        <div class="form-group">
            <label>phone</label>
            <input name="phone" type="number" class="form-control" placeholder="18913015780" th:value="${emp!=null}?${emp.phone}">
        </div>
        <button type="submit" class="btn btn-primary" th:text="${emp!=null}?'修改':'添加'">添加</button>
        <a href="/main" class="btn btn-primary">return</a>
    </form>
</main>
</body>
</html>